*{
    
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
    color: black;
}


/* .imgContainer{
    height:200px;
     width: 100px; 
    background-size: cover;
    background-position: center;
} */

.card{
    background-color: #F1FAEE;
    /* border-radius: 10px; */
    width: 30%;
    overflow: hidden;

}
.cardBody{
    padding:10px;
    font-family: cursive, serif;
    font-weight:300;
}

.head , .details{
    margin-top :10px;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.details{
    display: flex;
    justify-content: space-between;
    margin: 10px 5px;
    position:relative;
}

