.search{
    justify-content: center;
    height:80vh;
    color: white;
    position:relative;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.slogan{
    font-family: 'Lobster', cursive;
    font-size:36px;      
}
.searchForm{
    width:50%;
    margin:auto;
}
.searchBar{
    /* background: none; */
    opacity: 0.7;
    border: 2px solid black;
    border-radius:5px;
    padding: 10px;
    color: black;
    font-weight:600;
    min-width: 300px;
    min-height:50px;
    margin-top:20px
}
 