.search{
    justify-content: center;
    min-height:80vh;
    color: white;
    position:relative;
}
.slogan{
     font-family: 'Lobster', cursive;
     font-size:36px;
     width:25vw;
     position:absolute;
     top: 20%;
    left: 40%;
}
.searchForm{
    width:50%;
    margin:auto;
    position:absolute;
     top: 40%;
    left: 40%;
}
.searchBar{
    /* background: none; */
    opacity: 0.7;
    border: 2px solid black;
    border-radius:5px;
    padding: 10px;
    color: black;
    font-weight:600;
    min-width: 300px;
    min-height:50px;
    margin-top:20px
}
 